.bodyHome {
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(0deg, rgba(13, 68, 140, 1) 6%, rgba(26, 107, 219, 1) 20%, rgba(49, 128, 232, 1) 33%, rgba(96, 156, 235, 1) 63%, rgba(112, 185, 221, 1) 84%, rgba(140, 206, 237, 1) 99%) no-repeat;
    padding-bottom: 7%;
}

.bodyHome main {
    text-align: right; 
    font-size: 300%;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

a {
    all: unset;
}

.nav :hover {
    text-shadow: 15px 15px 30px blue;
    color: rgba(140, 206, 237, 1);
    font-size: 250%;
    -webkit-text-stroke: 3px black;
    transition: 0.5s;
}

.nav2 :hover {
    text-shadow: 15px 15px 30px blue;
    color: rgba(96, 156, 235, 1);
    font-size: 250%;
    -webkit-text-stroke: 3px black;
    transition: 0.5s;
}

.nav3 :hover {
    text-shadow: 15px 15px 30px blue;
    color: rgba(49, 128, 232, 1);
    font-size: 250%;
    -webkit-text-stroke: 3px black;
    transition: 0.5s;

}

.nav4 :hover {
    text-shadow: 15px 15px 30px blue;
    color: rgba(26, 107, 219, 1);
    font-size: 250%;
    -webkit-text-stroke: 3px black;
    transition: 0.5s;

}

/* projetc */
.projectsBody {
    background-color: rgba(26, 107, 219, 1);
}

.headerProjct {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerProjct img {
    height: 9%;
    width: 9%;
}

.headerProjct a {
    margin: 1%;
}

.GitButton {
    background-color: black;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    border-width: 2px;
    padding: 2%;
    font-size: larger;
    transition: 0.3s;
}

.GitButton:hover {
    background-color: rgba(26, 107, 219, 1);
    border-radius: 20px;
    border-width: 3px;
    transition: 0.3s;
    font-size: x-large;

}

.projectsMain {
    display: flex;
    flex-direction: column;
}

.BoxProjetosCod {
    background-color: rgb(0, 174, 255);
    border-style: solid;
    border-color: black;
    border-radius: 2%;
    text-align: center;
    width: 50%;
  

}

.BoxProjetosCod a {
    text-decoration: underline;
    font-weight: bold;
    
}

.BoxProjetosCod p {
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    
}

.space{
    width: 50%;
}

.aling{
    display: flex;
    margin: 5%;
}
/* about me*/

.AboutBody{
    background-color: rgba(26, 107, 219, 1);
}